# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a


*.pro.user
Makefile
Makefile.*
moc_*
ui_*.h
release/
debug/
object_script.*
app/
build/
*.Debug
*.Release
*.pro.user
*.pro.user.*
*.autosave
.qmake.cache
